<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="33" android:compileSdkVersionCodename="13" package="com.video.editor.cool" platformBuildVersionCode="33" platformBuildVersionName="13">
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:maxSdkVersion="32" android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <queries>
        <intent>
            <action android:name="com.android.vending.billing.InAppBillingService.BIND"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
    </queries>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:hardwareAccelerated="true" android:icon="@mipmap/video_logo" android:label="Cool Video Editor" android:largeHeap="true" android:name="com.camera.function.main.ui.CameraApplication" android:roundIcon="@mipmap/video_logo" android:supportsRtl="true" android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-8718608179711071~3020161535"/>
        <meta-data android:name="UMENG_APPKEY" android:value="5caff99b0cafb23faa000871"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="googleplay"/>
        <meta-data android:name="android.max_aspect" android:value="2.1"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:hardwareAccelerated="true" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.hw.photomovie.sample.activityAnim.AnimActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.MainActivity" android:resizeableActivity="false" android:screenOrientation="portrait" android:theme="@style/MainActivityTheme"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.view.PrimeActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:exported="true" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.SplashActivity" android:resizeableActivity="false" android:screenOrientation="portrait" android:theme="@style/SplashActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.DecodeActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:exported="true" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.VideoEditActivity" android:resizeableActivity="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="video/*"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.VideoProgressActivity" android:resizeableActivity="false" android:theme="@style/TransparentTheme"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.gallery.imageselector.ImageSelectorActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.gallery.imageselector.PhotoSelectActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.gallery.imageselector.VideoSelectActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.SettingActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:clearTaskOnLaunch="true" android:configChanges="screenLayout|screenSize|smallestScreenSize" android:exported="true" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.camera.function.main.ui.CameraPreviewActivity" android:resizeableActivity="false" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE_SECURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA_SECURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.camera.function.main.ui.ShowVideoActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.image.singleselector.ShowProductionImageActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.camera.function.main.ui.SettingsActivity" android:resizeableActivity="false" android:screenOrientation="portrait" android:theme="@style/SettingsActivityTheme"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.base.common.ShareActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.base.common.VideoActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.base.common.imageanim.PicViewActivity" android:resizeableActivity="false" android:theme="@style/TransparentActivityTheme"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.camera.function.main.FilterShop.FilterShopActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.feedback.FeedbackMainActivity" android:resizeableActivity="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:exported="true" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.camera.function.main.privacy.HelpActivity" android:resizeableActivity="false" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="privacy_help" android:scheme="com.video.editor.cool"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="true" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.gallery.ImageProductionActivity" android:resizeableActivity="false" android:screenOrientation="portrait" android:theme="@style/GalleryActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.PICK"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.gallery.ShowProductionImageActivity" android:resizeableActivity="false" android:screenOrientation="portrait" android:theme="@style/GalleryActivityTheme"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.screenrecord.ScreenRecordActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.screenrecord.ScreenRecordActivityByQ" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.DraftActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.ThemeActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.ThemePreviewActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.convert.UnableEditVideoListActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.convert.TransVideoActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.music.MusicActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.music.NewMusicActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.music.NewMusicCategoryActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.music.NewEffectActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.music.NewEffectCategoryActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.music.ExtractMusicActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.music.ExtractMusicDetailActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.musiccrop.MusicCropActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.record.AudioRecordActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.convert.ConvertActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.compress.CompressActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.compress.VideoCompressActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.screenrecord.RecordVideoTrimActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.TemplateActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.TemplatePreviewActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.download.DownloadActivity" android:resizeableActivity="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.download.DownloadDetailActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.cropimage.CropImageActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.hw.photomovie.sample.DemoActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.themetemplate.ThemeTemplateListActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.themetemplate.ThemeTemplateVideoDetailActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.themetemplate.ThemeTemplatePhotoDetailActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.themetemplate.ThemeTemplateVideoTrimActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.videotomusic.VideoToMusicActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.videotomusic.VideoToMusicSelectActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.videotomusic.VideoToMusicDetailActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.videotrimandcrop.VideoTrimSelectActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.videotrimandcrop.VideoTrimActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.videotrimandcrop.VideoCropSelectActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.videotrimandcrop.VideoCropActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.videospeed.VideoSpeedSelectActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.videospeed.VideoSpeedActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.videophototogif.VideoToGifSelectActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.videophototogif.VideoToGifActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.example.doodle.MappingActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.videotrimandcrop.VideoTrimAndMergeActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.base.common.GiphyActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.videotrimandcrop.VideoRemoveWaterMarkSelectActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.videotrimandcrop.VideoRemoveWaterMarkActivityDemo" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.musictrimandmerge.MusicSelectActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.video.editor.musictrimandmerge.MusicTrimAndMergeActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <activity android:configChanges="screenLayout|screenSize|smallestScreenSize" android:maxAspectRatio="2.1" android:minAspectRatio="1.6" android:name="com.base.common.ShareMusicActivity" android:resizeableActivity="false" android:screenOrientation="portrait"/>
        <service android:exported="false" android:name="com.video.editor.screenrecord.ScreenRecordService"/>
        <service android:enabled="true" android:exported="false" android:foregroundServiceType="mediaProjection" android:name="com.video.editor.screenrecord.ScreenRecordServiceByQ"/>
        <service android:exported="false" android:name="com.feedback.FeedbackGetFeedBackService"/>
        <provider android:authorities="fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <service android:exported="true" android:name="com.camera.function.main.live.OpJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity android:excludeFromRecents="true" android:launchMode="singleInstance" android:name="com.camera.function.main.live.OpActivity" android:resizeableActivity="false" android:theme="@style/OpTheme"/>
        <receiver android:exported="true" android:name="com.camera.function.main.live.OpReceiver" android:process=":process1">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.google.android.play.billingclient.version" android:value="5.2.0"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:exported="false" android:name="com.android.billingclient.api.ProxyBillingActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.mlkit.common.internal.MlKitComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.vision.segmentation.internal.SegmentationRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.vision.common.internal.VisionCommonRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.common.internal.CommonComponentRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:multiprocess="true" android:name="com.common.code.util.UtilsTransActivity" android:theme="@style/ActivityTranslucent" android:windowSoftInputMode="stateAlwaysHidden"/>
        <service android:exported="false" android:name="com.common.code.util.MessengerUtils$ServerService">
            <intent-filter>
                <action android:name="com.video.editor.cool.messenger"/>
            </intent-filter>
        </service>
        <meta-data android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION" android:value="true"/>
        <meta-data android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING" android:value="true"/>
        <activity android:autoRemoveFromRecents="true" android:excludeFromRecents="true" android:exported="false" android:launchMode="standard" android:name="com.da.config.activity.AppRecommendActivity" android:screenOrientation="portrait" android:theme="@style/Recommend_Style"/>
        <activity android:enabled="false" android:exported="true" android:name="com.liblauncher.launcherguide.HomeReset">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.liblauncher.launcherguide.GuideSetDefaultActivity" android:taskAffinity="" android:theme="@style/GuidePageTransparentTheme"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.liblauncher.launcherguide.GuideSetDefaultSelectorActivity" android:theme="@style/GuideSetDefaultSelectorTheme"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.liblauncher.launcherguide.BringToFrontActivity" android:taskAffinity="" android:theme="@style/GuideSetDefaultSelectorTheme"/>
        <provider android:authorities="com.video.editor.cool.mlkitinitprovider" android:exported="false" android:initOrder="99" android:name="com.google.mlkit.common.internal.MlKitInitProvider"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:exported="false" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <provider android:authorities="com.video.editor.cool.mobileadsinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.android.gms.ads.MobileAdsInitProvider"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.ads.AdService"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <provider android:authorities="com.video.editor.cool.com.squareup.picasso" android:exported="false" android:name="com.squareup.picasso.PicassoProvider"/>
        <provider android:authorities="com.video.editor.cool.lifecycle-process" android:exported="false" android:multiprocess="true" android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"/>
        <provider android:authorities="com.video.editor.cool.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.work.WorkManagerInitializer" android:value="androidx.startup"/>
        </provider>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <meta-data android:name="com.android.dynamic.apk.fused.modules" android:value="base"/>
        <meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store"/>
        <meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_STANDALONE_APK"/>
        <meta-data android:name="com.android.vending.splits" android:resource="@xml/splits0"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="2"/>
    </application>
</manifest>